cftime==1.6.2 ; python_full_version == "3.8.12"
contourpy==1.0.7 ; python_full_version == "3.8.12"
cycler==0.11.0 ; python_full_version == "3.8.12"
fonttools==4.38.0 ; python_full_version == "3.8.12"
kiwisolver==1.4.4 ; python_full_version == "3.8.12"
matplotlib==3.6.3 ; python_full_version == "3.8.12"
netcdf4==1.6.2 ; python_full_version == "3.8.12"
networkx==3.0 ; python_full_version == "3.8.12"
numpy==1.19.5 ; python_full_version == "3.8.12"
packaging==23.0 ; python_full_version == "3.8.12"
pandas==1.4.4 ; python_full_version == "3.8.12"
pillow==9.4.0 ; python_full_version == "3.8.12"
pyparsing==3.0.9 ; python_full_version == "3.8.12"
python-dateutil==2.8.2 ; python_full_version == "3.8.12"
pytz==2022.7.1 ; python_full_version == "3.8.12"
pyyaml==6.0 ; python_full_version == "3.8.12"
six==1.15.0 ; python_full_version == "3.8.12"
xarray==0.21.1 ; python_full_version == "3.8.12"
